.project-box
  %p.header
    Mensagens de #{current_user}
  %p.links
    = link_to image_tag('icons/email_add.png'), new_message_path
  %h2
    Mensagens recebidas
    = render 'search_form'
  %ul
    - @deliveries.each do |delivery|
      %li{:class => delivery.read ? 'read' : 'unread'}
        %p.desc
          = link_to delivery.message.subject, message_path(delivery.message)
          %span.mail-info
            = delivery.user
            em
            = I18n.l(delivery.created_at, :format => :short)
        %p.links
          = link_to image_tag('icons/email_open.png'), read_message_path(delivery.message), :method => :put if delivery.unread?
    .pagination
      = will_paginate @deliveries, :param_name => :deliveries_page
  %h2
    Mensagens enviadas
  %ul
    - @sent_messages.each do |msg|
      %li
        %p.desc
          =link_to msg.subject, message_path(msg)
    .pagination
      = will_paginate @sent_messages, :param_name => :sent_page
