.up-bar
  %p.logo
    =link_to 'DashBoard', desktop_path
  - if flash[:notice]
    %p.notice= notice
  - if flash[:alert]
    %p.alert= alert
  %p.user-info
    = select_tag 'active_project', options_for_select((current_user.projects + current_user.managed_projects ).collect { |p| [p.name, p.id] }, current_user.current_project.id ), :class => 'active_project_select'
    = link_to image_tag('icons/email.png'), messages_path
    = current_user
    = link_to t('sign_out'), destroy_user_session_path
