.project-box
  %p.header
    = @project.name
  %h2
    Informações:
    %p.links
      = link_to image_tag('icons/application_edit.png'), edit_project_path(@project), :title => 'Editar projeto' if can? :edit, @project
      = link_to image_tag('icons/application_go.png'), finish_project_path(@project), :title => 'Entregar projeto'
  %h3
    Descriçao:
  %p.desc
    = @project.description
  %h3
    Data Final:
  %p.desc
    = @project.end_date

  %h2
    Colaboradores:
    %p.links
      = link_to image_tag('icons/user_add.png'), new_project_membership_path(@project)
  %ul.users
    - @project.memberships.each do |membership|
      %li.user
        %p.desc
          = membership.user
        %p.links
          = link_to image_tag('icons/user_edit.png'), edit_project_membership_path(membership.project,membership) if can? :edit, membership
          = link_to image_tag('icons/user_delete.png'), { :controller => :memberships, :action => :destroy, :id => membership, :project_id => @project }, :method => :delete, :confirm => 'Tem certeza?' if can? :destroy, membership
  %h2
    Tarefas:
    %p.links
      = link_to image_tag('icons/clock_add.png'), new_project_task_path(@project)
  %ul.tasks
    - @project.tasks.each do |task|
      %li.task
        %p.desc
          = link_to task, project_task_path(@project, task)
          %span.task-info
            = task.status
        %p.links
          = link_to image_tag('icons/clock_stop.png'), complete_project_task_path(task.project, task), :method => :put if task.started?
          = link_to image_tag('icons/clock_play.png'), start_project_task_path(task.project, task), :method => :put unless task.started? || task.completed?
  %h2
    Documentos:
    %p.links
      = link_to image_tag('icons/page_white_add.png'), new_project_document_path(@project)
  %ul.documents
    - @project.documents.each do |doc|
      %li
        %p.desc
          = image_tag "icons/page_white_get.png"
          = link_to doc.file_identifier, project_document_path(doc.project,doc)
          = doc.description
        %p.links
          = link_to image_tag('icons/page_white_edit.png'), edit_project_document_path(@project,doc) if can? :edit, doc
          = link_to image_tag('icons/page_white_delete.png'), {:controller => :documents, :action => :destroy, :id => doc.id, :project_id => doc.project}, :method => :delete, :confirm => 'Tem certeza?' if can? :destroy, doc

