= simple_form_for(@project) do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this project from being saved:

      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .inputs
    = f.input :name
    -# @TODO Trocar isso por um ajax.
    %p Membros
    = f.collection_check_boxes :member_ids, User.all - @project.managers, :id, :to_s
    %p Managers
    = f.collection_check_boxes :member_ids, User.all - @project.members - current_user.to_a, :id, :to_s

  .actions
    = f.button :submit
