.projects
  - if @projects.present?
    %p.header Projetos - Membro
    - @projects.each_with_index do |project,index|
      .project{:class => [index == 0 && "first", cycle("even", "odd")]}
        %p
          = link_to project.name, project
        %p.links
          = link_to image_tag('icons/application_edit.png'), edit_project_path(project), :title => 'Editar Projeto'
          = link_to image_tag('icons/group.png'), project_memberships_path(project), :title => 'Membros'
          = link_to image_tag('icons/bin.png'), { :controller => 'projects', :action => :destroy, :id => project } , :method => :delete, :confirm => 'Tem Certeza?', :title => 'Excluir projeto' if can? :destroy, project

  - if @managed_projects.present?
    %p.header Projetos - Gerente
    %p= link_to image_tag('icons/application_add.png'), new_project_path, :title => 'Criar projeto'
    - @managed_projects.each_with_index do |managed, index|
      .managed_project.project{:class => [index == 0 && "first", cycle("even", "odd")]}
        = link_to managed.name, managed
        %p.links
          = link_to image_tag('icons/application_edit.png'), edit_project_path(managed), :title => 'Editar projeto' if can? :edit, managed
          = link_to image_tag('icons/group.png'), project_memberships_path(managed), :title => 'Membros'
          = link_to image_tag('icons/bin.png'), { :controller => 'projects', :action => :destroy, :id => managed } , :method => :delete, :confirm => 'Tem Certeza?', :title => 'Excluir projeto' if can? :destroy, managed

